@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* location-specific */
#dedication > hr{
	margin-bottom: 1em;
}

#dedication cite{
	font-variant: small-caps;
}

/* [L. S.] */
#chapter-22 blockquote:first-of-type > footer > div{
	float: left;
	white-space: nowrap;
}

figure header + img{
	margin-top: 1em;
}

/* third selector necessary because later
	#appendix-b blockquote > header > p:last-of-type
is more specific than second selector */
#appendix-a blockquote > header > p,
#appendix-b blockquote:first-of-type > header > p,
#appendix-b blockquote:first-of-type > header > p:last-of-type{
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0;
}

#appendix-a blockquote > header > p:last-of-type{
	text-align: right;
}

/* with headers/footers also being 1em, make it easier to visually separate blockquotes */
#appendix blockquote{
	margin-bottom: 2em;
	margin-left: 0;
	margin-right: 0;
}

/* in general, these headers should be left-justified */
#dedication > blockquote,
#appendix-b blockquote > header,
#appendix-c blockquote > header{
	margin-bottom: 1em;
	text-align: initial;
}

/* except the last line */
#appendix-b blockquote > header > p:last-of-type,
#appendix-c blockquote > header > p:last-of-type{
	text-indent: 1em;
}

/* first line after the signature should be left-justified */
#chapter-19 blockquote > header > p:last-of-type,
#appendix-b blockquote > footer > p:nth-of-type(2),
#appendix-c blockquote:first-of-type > footer > p:nth-of-type(4){
	text-align: initial;
	text-indent: 0;
}

/* remaining lines should be indented */
#appendix-b blockquote > footer > p:last-of-type,
#appendix-c blockquote:first-of-type > footer > p:nth-of-type(5),
#appendix-c blockquote:first-of-type > footer > p:last-of-type{
	text-align: initial;
	text-indent: 1em;
}

/* set of signatures set in two columns */
#appendix-b blockquote:nth-of-type(3) > div{
	display: flex;
	align-content: space-around;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin-left: 3em;
	max-width: 20em;
	text-indent: 0;
}

/* each signatures should take up half of space */
#appendix-b blockquote:nth-of-type(3) > div > p{
	text-indent: 0;
	width: 50%;
}

/* lines in which [L. S.] appears */
#appendix-b blockquote:nth-of-type(11) > p:last-of-type,
#appendix-c blockquote:nth-of-type(2) > p:last-of-type{
	text-indent: 0;
}

#appendix-b blockquote:nth-of-type(11) > div,
#appendix-c blockquote > div{
	clear: left;
	float: left;
	margin-left: 1em;
	padding: .5em;
	text-align: initial;
	width: 10%;
}

#appendix-b blockquote span[epub|type~="z3998:salutation"]{
	font-style: italic;
	font-variant: normal;
}
/* end of location-specific */

/* abbreviations */
abbr.era{
	font-variant: all-small-caps;
}
/* end of abbreviations */

/* bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}
/* end of bridgeheads */

/* All dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End all dedications */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

/* images */
figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}
/* end of images */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: initial;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i4{
	text-indent: -1em;
	padding-left: 5em;
}

p span.i8{
	text-indent: -1em;
	padding-left: 9em;
}
/* end of poem/verse/song */
